<!DOCTYPE html>
<html id="doc">
  <stl:include file="/include/head.html"></stl:include>
  <body class="post-template-default single single-post postid-17 single-format-standard">
    <stl:include file="/include/header.html"></stl:include>
    <div class="container-fluid mini"></div>
    <stl:include file="/include/banner.html"></stl:include><Section id="content">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-sm-9 col-xs-12 content">
          <nav  class="crumbs">当前位置: <stl:location> > </stl:location></nav>
          <article id="post-17" class="post-17 post type-post status-publish format-standard hentry category-news">
            <div class="single-header">
              <h1>{Content.Title}</h1>
            </div>
            <div class="entry-content">
              <stl:content type="Content"></stl:content> 
            </div>
          </article>
        </div>
        <stl:include file="/include/right.html"></stl:include>
      </div>
    </div>
    </section>
    <stl:include file="/include/footer.html"></stl:include>
    <stl:include file="/include/js.html"></stl:include>
  </body>
</html>
